In [101]:
import pandas as pd
import numpy as np

In [102]:
df = pd.read_csv("D://Downloadss//weatherAUS.csv")

In [103]:
df

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8420,2017-06-21,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,SE,...,51.0,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,No,No
8421,2017-06-22,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,...,56.0,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No,No
8422,2017-06-23,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,...,53.0,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No,No
8423,2017-06-24,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,...,51.0,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,No
8424,2017-06-25,Uluru,14.9,NaN,0.0,NaN,NaN,NaN,NaN,ESE,...,62.0,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,No,NaN

In [104]:
df["Evaporation"].value_counts()

4.0     180
3.0     163
2.4     147
2.2     146
2.6     143
       ...
17.0      1
18.6      1
22.4      1
19.2      1
0.7       1
Name: Evaporation, Length: 116, dtype: int64

In [105]:
df.shape

(8425, 23)

In [106]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8425 entries, 0 to 8424
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           8425 non-null   object
 1   Location       8425 non-null   object
 2   MinTemp        8350 non-null   float64
 3   MaxTemp        8365 non-null   float64
 4   Rainfall       8185 non-null   float64
 5   Evaporation    4913 non-null   float64
 6   Sunshine       4431 non-null   float64
 7   WindGustDir    7434 non-null   object
 8   WindGustSpeed  7434 non-null   float64
 9   WindDir9am     7596 non-null   object
 10  WindDir3pm     8117 non-null   object
 11  WindSpeed9am   8349 non-null   float64
 12  WindSpeed3pm   8318 non-null   float64
 13  Humidity9am    8366 non-null   float64
 14  Humidity3pm    8323 non-null   float64
 15  Pressure9am    7116 non-null   float64
 16  Pressure3pm    7113 non-null   float64
 17  Cloud9am       6004 non-null   float64
 18  Cloud3pm       5970 non-null   float64
 19  Temp9am        8369 non-null   float64
 20  Temp3pm        8329 non-null   float64
 21  RainToday      8185 non-null   object
 22  RainTomorrow   8186 non-null   object
dtypes: float64(16), object(7)
memory usage: 1.5+ MB

In [107]:
df["Date"] = pd.to_datetime(df["Date"])

In [108]:
df.isnull().sum()

Date                0
Location            0
MinTemp            75
MaxTemp            60
Rainfall          240
Evaporation      3512
Sunshine         3994
WindGustDir       991
WindGustSpeed     991
WindDir9am        829
WindDir3pm        308
WindSpeed9am       76
WindSpeed3pm      107
Humidity9am        59
Humidity3pm       102
Pressure9am      1309
Pressure3pm      1312
Cloud9am         2421
Cloud3pm         2455
Temp9am            56
Temp3pm            96
RainToday         240
RainTomorrow      239
dtype: int64

In [109]:
df.shape
df.shape[0]

8425

In [110]:
(8425/100)*5

421.25

In [111]:
null_vlu_record = df.isnull().sum()
# print(type(null_vlu_record))
# print(null_vlu_record)

max_limit = (df.shape[0]/100)*5
clm_to_drop= null_vlu_record[ (null_vlu_record>0) & (null_vlu_record<max_limit) ].index.tolist()
print(clm_to_drop)

['MinTemp', 'MaxTemp', 'Rainfall', 'WindDir3pm', 'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm', 'Temp9am', 'Temp3pm', 'RainToday', 'RainTomorrow']

In [112]:
df1 =df.dropna(subset=clm_to_drop )

In [113]:
df1.shape

(7724, 23)

In [114]:
((8425-7724)/8425)*100

8.320474777448071

In [115]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7724 entries, 0 to 8423
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           7724 non-null   datetime64[ns]
 1   Location       7724 non-null   object
 2   MinTemp        7724 non-null   float64
 3   MaxTemp        7724 non-null   float64
 4   Rainfall       7724 non-null   float64
 5   Evaporation    4668 non-null   float64
 6   Sunshine       4214 non-null   float64
 7   WindGustDir    7068 non-null   object
 8   WindGustSpeed  7068 non-null   float64
 9   WindDir9am     7129 non-null   object
 10  WindDir3pm     7724 non-null   object
 11  WindSpeed9am   7724 non-null   float64
 12  WindSpeed3pm   7724 non-null   float64
 13  Humidity9am    7724 non-null   float64
 14  Humidity3pm    7724 non-null   float64
 15  Pressure9am    6719 non-null   float64
 16  Pressure3pm    6721 non-null   float64
 17  Cloud9am       5583 non-null   float64
 18  Cloud3pm       5592 non-null   float64
 19  Temp9am        7724 non-null   float64
 20  Temp3pm        7724 non-null   float64
 21  RainToday      7724 non-null   object
 22  RainTomorrow   7724 non-null   object
dtypes: datetime64[ns](1), float64(16), object(6)
memory usage: 1.4+ MB

In [116]:
df1.isnull().sum()

Date                0
Location            0
MinTemp             0
MaxTemp             0
Rainfall            0
Evaporation      3056
Sunshine         3510
WindGustDir       656
WindGustSpeed     656
WindDir9am        595
WindDir3pm          0
WindSpeed9am        0
WindSpeed3pm        0
Humidity9am         0
Humidity3pm         0
Pressure9am      1005
Pressure3pm      1003
Cloud9am         2141
Cloud3pm         2132
Temp9am             0
Temp3pm             0
RainToday           0
RainTomorrow        0
dtype: int64

In [117]:
df.columns

Index(['Date', 'Location', 'MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation',
       'Sunshine', 'WindGustDir', 'WindGustSpeed', 'WindDir9am', 'WindDir3pm',
       'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm',
       'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am',
       'Temp3pm', 'RainToday', 'RainTomorrow'],
      dtype='object')

In [118]:
# yaha hum target column ko alag kar rahe h
target_clm = df1.iloc[:,-1]
print(target_clm)
df1 = df1.iloc[:,:-1]
df1.columns
df1

0       No
1       No
2       No
3       No
4       No
        ..
8419    No
8420    No
8421    No
8422    No
8423    No
Name: RainTomorrow, Length: 7724, dtype: object

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,24.0,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,22.0,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,26.0,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,9.0,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,20.0,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8419,2017-06-20,Uluru,3.5,21.8,0.0,NaN,NaN,E,31.0,ESE,...,13.0,59.0,27.0,1024.7,1021.2,NaN,NaN,9.4,20.9,No
8420,2017-06-21,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,SE,...,11.0,51.0,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,No
8421,2017-06-22,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,...,9.0,56.0,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No
8422,2017-06-23,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,...,9.0,53.0,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No
8423,2017-06-24,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,...,7.0,51.0,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No

In [122]:
# sath hi is par lable encoding apply kar dege 
from sklearn.preprocessing import LabelEncoder
lb=LabelEncoder()
print(type(target_clm))
target_clm_encod=lb.fit_transform(target_clm)
target_clm_encod

<class 'pandas.core.series.Series'>

array([0, 0, 0, ..., 0, 0, 0])

In [124]:
target_clm_encod.shape

(7724,)

In [72]:
# now we will try to fill remaining null value

In [125]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8425 entries, 0 to 8424
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           8425 non-null   datetime64[ns]
 1   Location       8425 non-null   object
 2   MinTemp        8350 non-null   float64
 3   MaxTemp        8365 non-null   float64
 4   Rainfall       8185 non-null   float64
 5   Evaporation    4913 non-null   float64
 6   Sunshine       4431 non-null   float64
 7   WindGustDir    7434 non-null   object
 8   WindGustSpeed  7434 non-null   float64
 9   WindDir9am     7596 non-null   object
 10  WindDir3pm     8117 non-null   object
 11  WindSpeed9am   8349 non-null   float64
 12  WindSpeed3pm   8318 non-null   float64
 13  Humidity9am    8366 non-null   float64
 14  Humidity3pm    8323 non-null   float64
 15  Pressure9am    7116 non-null   float64
 16  Pressure3pm    7113 non-null   float64
 17  Cloud9am       6004 non-null   float64
 18  Cloud3pm       5970 non-null   float64
 19  Temp9am        8369 non-null   float64
 20  Temp3pm        8329 non-null   float64
 21  RainToday      8185 non-null   object
 22  RainTomorrow   8186 non-null   object
dtypes: datetime64[ns](1), float64(16), object(6)
memory usage: 1.5+ MB

In [126]:
df.describe()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
count,8350.000000,8365.000000,8185.000000,4913.000000,4431.000000,7434.000000,8349.000000,8318.000000,8366.000000,8323.000000,7116.000000,7113.000000,6004.000000,5970.000000,8369.000000,8329.000000
mean,13.193305,23.859976,2.805913,5.389395,7.632205,40.174469,13.847646,18.533662,67.822496,51.249790,1017.640233,1015.236075,4.566622,4.503183,17.762015,22.442934
std,5.403596,6.136408,10.459379,5.044484,3.896235,14.665721,10.174579,9.766986,16.833283,18.423774,6.828699,6.766681,2.877658,2.731659,5.627035,5.980020
min,-2.000000,8.200000,0.000000,0.000000,0.000000,7.000000,0.000000,0.000000,10.000000,6.000000,989.800000,982.900000,0.000000,0.000000,1.900000,7.300000
25%,9.200000,19.300000,0.000000,2.600000,4.750000,30.000000,6.000000,11.000000,56.000000,39.000000,1013.000000,1010.400000,1.000000,2.000000,13.800000,18.000000
50%,13.300000,23.300000,0.000000,4.600000,8.700000,39.000000,13.000000,19.000000,68.000000,51.000000,1017.700000,1015.300000,5.000000,5.000000,17.800000,21.900000
75%,17.400000,28.000000,1.000000,7.000000,10.700000,50.000000,20.000000,24.000000,80.000000,63.000000,1022.300000,1019.800000,7.000000,7.000000,21.900000,26.400000
max,28.500000,45.500000,371.000000,145.000000,13.900000,107.000000,63.000000,83.000000,100.000000,99.000000,1039.000000,1036.000000,8.000000,8.000000,39.400000,44.100000

In [127]:
df.corr()

C:\Users\Jarvis\AppData\Local\Temp\ipykernel_17916\1134722465.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
MinTemp,1.000000,0.720955,0.091642,0.348643,0.081365,0.241317,0.137263,0.180091,-0.130906,0.079569,-0.465478,-0.458665,0.111213,0.046889,0.888342,0.689652
MaxTemp,0.720955,1.000000,-0.088906,0.424728,0.523909,0.146113,0.013425,0.088797,-0.392496,-0.424217,-0.347285,-0.430074,-0.307700,-0.301675,0.869503,0.978665
Rainfall,0.091642,-0.088906,1.000000,0.043463,-0.209654,0.104999,0.051349,0.025185,0.231702,0.238730,-0.080412,-0.037270,0.195157,0.159250,-0.007191,-0.092263
Evaporation,0.348643,0.424728,0.043463,1.000000,0.340893,0.214069,0.176701,0.142421,-0.286869,-0.221244,-0.218171,-0.233401,-0.084288,-0.152637,0.405467,0.414156
Sunshine,0.081365,0.523909,-0.209654,0.340893,1.000000,-0.018455,-0.025112,0.045031,-0.512349,-0.630536,0.028666,-0.047098,-0.705577,-0.723957,0.348708,0.546057
WindGustSpeed,0.241317,0.146113,0.104999,0.214069,-0.018455,1.000000,0.656079,0.711403,-0.286045,-0.097380,-0.430736,-0.394745,0.030124,0.104157,0.211477,0.106872
WindSpeed9am,0.137263,0.013425,0.051349,0.176701,-0.025112,0.656079,1.000000,0.566322,-0.358981,-0.111595,-0.197189,-0.156517,-0.000607,0.068930,0.109936,-0.002619
WindSpeed3pm,0.180091,0.088797,0.025185,0.142421,0.045031,0.711403,0.566322,1.000000,-0.252488,-0.091248,-0.291271,-0.240378,0.005807,0.003894,0.185329,0.066201
Humidity9am,-0.130906,-0.392496,0.231702,-0.286869,-0.512349,-0.286045,-0.358981,-0.252488,1.000000,0.636255,0.154699,0.188463,0.472126,0.352736,-0.378389,-0.383788
Humidity3pm,0.079569,-0.424217,0.238730,-0.221244,-0.630536,-0.097380,-0.111595,-0.091248,0.636255,1.000000,0.001763,0.076002,0.509797,0.520221,-0.130973,-0.491634
Pressure9am,-0.465478,-0.347285,-0.080412,-0.218171,0.028666,-0.430736,-0.197189,-0.291271,0.154699,0.001763,1.000000,0.961922,-0.091391,-0.104535,-0.441901,-0.302488
Pressure3pm,-0.458665,-0.430074,-0.037270,-0.233401,-0.047098,-0.394745,-0.156517,-0.240378,0.188463,0.076002,0.961922,1.000000,-0.015692,-0.035986,-0.472788,-0.394852
Cloud9am,0.111213,-0.307700,0.195157,-0.084288,-0.705577,0.030124,-0.000607,0.005807,0.472126,0.509797,-0.091391,-0.015692,1.000000,0.619202,-0.161867,-0.326547
Cloud3pm,0.046889,-0.301675,0.159250,-0.152637,-0.723957,0.104157,0.068930,0.003894,0.352736,0.520221,-0.104535,-0.035986,0.619202,1.000000,-0.151438,-0.348986
Temp9am,0.888342,0.869503,-0.007191,0.405467,0.348708,0.211477,0.109936,0.185329,-0.378389,-0.130973,-0.441901,-0.472788,-0.161867,-0.151438,1.000000,0.837552
Temp3pm,0.689652,0.978665,-0.092263,0.414156,0.546057,0.106872,-0.002619,0.066201,-0.383788,-0.491634,-0.302488,-0.394852,-0.326547,-0.348986,0.837552,1.000000

In [128]:
df["Location"].value_counts()

Melbourne       1622
Williamtown     1230
PerthAirport    1204
Albury           907
Newcastle        822
CoffsHarbour     611
Brisbane         579
Penrith          482
Wollongong       474
Darwin           250
Adelaide         205
Uluru             39
Name: Location, dtype: int64

In [129]:
categorical_columns = df1.select_dtypes(include='object').columns.tolist()
categorical_columns

['Location', 'WindGustDir', 'WindDir9am', 'WindDir3pm', 'RainToday']

In [130]:
for i in categorical_columns:
    x=df[i].value_counts()
    print(x)

Melbourne       1622
Williamtown     1230
PerthAirport    1204
Albury           907
Newcastle        822
CoffsHarbour     611
Brisbane         579
Penrith          482
Wollongong       474
Darwin           250
Adelaide         205
Uluru             39
Name: Location, dtype: int64
N      713
SSE    578
S      577
SW     572
E      557
WNW    531
W      507
WSW    504
SE     484
ENE    415
SSW    396
NW     383
NE     353
NNE    343
ESE    302
NNW    219
Name: WindGustDir, dtype: int64
N      906
SW     704
NW     625
WSW    543
SE     505
WNW    480
SSW    467
ENE    433
NNE    430
W      414
NE     409
S      402
E      380
SSE    365
NNW    280
ESE    253
Name: WindDir9am, dtype: int64
SE     813
S      742
SSE    623
WSW    580
NE     544
N      524
SW     494
WNW    487
NW     468
W      462
ESE    462
E      460
ENE    417
SSW    370
NNE    365
NNW    306
Name: WindDir3pm, dtype: int64
No     6195
Yes    1990
Name: RainToday, dtype: int64

In [131]:
df2 = pd.get_dummies(df1,columns=categorical_columns)

In [132]:
df2

,Date,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,...,WindDir3pm_S,WindDir3pm_SE,WindDir3pm_SSE,WindDir3pm_SSW,WindDir3pm_SW,WindDir3pm_W,WindDir3pm_WNW,WindDir3pm_WSW,RainToday_No,RainToday_Yes
0,2008-12-01,13.4,22.9,0.6,NaN,NaN,44.0,20.0,24.0,71.0,...,0,0,0,0,0,0,1,0,1,0
1,2008-12-02,7.4,25.1,0.0,NaN,NaN,44.0,4.0,22.0,44.0,...,0,0,0,0,0,0,0,1,1,0
2,2008-12-03,12.9,25.7,0.0,NaN,NaN,46.0,19.0,26.0,38.0,...,0,0,0,0,0,0,0,1,1,0
3,2008-12-04,9.2,28.0,0.0,NaN,NaN,24.0,11.0,9.0,45.0,...,0,0,0,0,0,0,0,0,1,0
4,2008-12-05,17.5,32.3,1.0,NaN,NaN,41.0,7.0,20.0,82.0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8419,2017-06-20,3.5,21.8,0.0,NaN,NaN,31.0,15.0,13.0,59.0,...,0,0,0,0,0,0,0,0,1,0
8420,2017-06-21,2.8,23.4,0.0,NaN,NaN,31.0,13.0,11.0,51.0,...,0,0,0,0,0,0,0,0,1,0
8421,2017-06-22,3.6,25.3,0.0,NaN,NaN,22.0,13.0,9.0,56.0,...,0,0,0,0,0,0,0,0,1,0
8422,2017-06-23,5.4,26.9,0.0,NaN,NaN,37.0,9.0,9.0,53.0,...,0,0,0,0,0,0,1,0,1,0
8423,2017-06-24,7.8,27.0,0.0,NaN,NaN,28.0,13.0,7.0,51.0,...,0,0,0,0,0,0,0,0,1,0

In [133]:
from sklearn.impute  import KNNImputer
kni=KNNImputer(n_neighbors=3)

In [134]:
df3 = df2.drop(columns="Date")

In [135]:
knnInput = kni.fit_transform(df3)

In [136]:
df4 = pd.DataFrame(knnInput,columns=df3.columns)

In [137]:
df4.isnull().sum()

MinTemp           0
MaxTemp           0
Rainfall          0
Evaporation       0
Sunshine          0
                 ..
WindDir3pm_W      0
WindDir3pm_WNW    0
WindDir3pm_WSW    0
RainToday_No      0
RainToday_Yes     0
Length: 78, dtype: int64

In [138]:
from sklearn.model_selection import train_test_split

In [139]:
x_train,x_test,y_train,y_test = train_test_split(df4,target_clm_encod,test_size=0.2,random_state=234)

In [141]:
x_train.shape , x_test.shape, y_train.shape , y_test.shape

((6179, 78), (1545, 78), (6179,), (1545,))

In [161]:
from sklearn.ensemble import RandomForestClassifier
rfr=RandomForestClassifier(n_estimators=20,random_state=2455)

In [162]:
rfr.fit(x_train,y_train)

RandomForestClassifier(n_estimators=20, random_state=2455)

In [163]:
y_pred=rfr.predict(x_test)

In [164]:
from sklearn.metrics import accuracy_score

In [165]:
y_pred

array([0, 1, 0, ..., 0, 0, 0])

In [166]:
print(accuracy_score(y_test,y_pred))

0.8932038834951457